# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.sqlite3
*.db

# Alembic
backend/migrations/versions/*.pyc

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# =========================
# Node / React
# =========================
node_modules/
frontend/node_modules/

frontend/dist/
frontend/.vite/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.env

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Coverage / Reports
# =========================
coverage.xml